<link rel="import" href="fire-auth.html">

<dom-module id="app-controller">
  <template>
    <fire-auth id="auth"></fire-auth>
  </template>
  <script>
    class AppController extends IntertextMixin(Polymer.Element) {
      static get is() {
        return 'app-controller';
      }

      static get properties() {
        return {
          user: Object
        }
      }

      static makeUser(user) {
        return {
          name: user.displayName,
          email: user.email,
          photo: user.photoURL,
          uid: user.uid
        }
      }

      connectedCallback() {
        super.connectedCallback();

        window.addEventListener('controller-check-user', this._checkUser.bind(this));
        window.addEventListener('controller-sign-in', this._signIn.bind(this));
        window.addEventListener('controller-sign-out', this._signOut.bind(this));
        window.addEventListener('controller-get-project', this._getProject.bind(this));
        window.addEventListener('controller-add-project', this._addProject.bind(this));
      }

      _checkUser() {
        this.$.auth.checkUser().then((user) => {
          if (user) {
            user = AppController.makeUser(user);
            this.$emit('state-user-in', user);
            this._getProjects(user);
          } else {
            this.$emit('state-user-out', null);
            this.$emit('state-user-projects', []);
          }
        });
      }

      _signIn() {
        this.$.auth.signIn().then((result) => {
          const user = AppController.makeUser(result.user);
          this.$emit('state-user-in', user);
          this._getProjects(user);
        });
      }

      _signOut() {
        this.$.auth.signOut().then(() => {
          this.$emit('state-user-out', null);
          this.$emit('state-user-projects', []);
        })
      }

      _getProjects(user) {
        const db = firebase.firestore();
        db.collection(`users/${user.name}/projects`).get()
          .then((querySnap) => {
            const projects = {};
            querySnap.docs.forEach((doc) => {
              projects[doc.id] = {};
            });
            this.$emit('state-user-projects', projects);
          });
      }

      _getProject(e) {
        const id = e.detail;
        const db = firebase.firestore();
        db.collection(`users/${this.user.name}/projects/${id}/versions`).orderBy('name','desc').get()
          .then((querySnap) => {
            const versions = {};
            querySnap.docs.forEach((doc) => {
              versions[doc.id] = {};
            });
            this.$emit('state-project-versions', {id: id, versions: versions});
            this._getFiles(id, Object.keys(versions)[0]);
          });
      }

      _addProject(e) {
        const id = e.detail;
        const db = firebase.firestore();
        db.doc(`users/${this.user.name}/projects/${id}`).set({
          name: id
        }).then((snap) => {
          this._getProjects(this.user);
        });
      }

      _getFiles(projectId, version) {
        const db = firebase.firestore();
        db.collection(`users/${this.user.name}/projects/${projectId}/versions/${version}/files`).get()
          .then((querySnap) => {
            const files = {};
            querySnap.docs.forEach((doc) => {
              files[doc.id] = doc.data();
            });
            this.$emit('state-version-files', {id: projectId, version: version, files: files});
          });
      }
    }
    customElements.define(AppController.is, AppController);
  </script>
</dom-module>