<dom-module id="app-pages">
  <template>
    <style>
      :host {
        display: block;
      }
      :host > ::slotted(:not(slot):not(.page-selected)) {
        display: none !important;
      }
    </style>
    <slot></slot>
  </template>

  <script>
    class AppPages extends Polymer.Element {
      static get is() {
        return 'app-pages';
      }

      static get properties() {
        return {
          page: String,
          fallback: String
        }
      }

      //todo this one is likely to be a update clone
      static get observers() {
        return [
          '_pageChanged(page)'
        ]
      }

      _pageChanged(page) {
        if (['home','editor'].indexOf(page) === -1)
          page = 'notfound';
        const pages = this.shadowRoot.querySelector("slot").assignedNodes();
        for (let slotPage of pages) {
          if (slotPage.nodeName == '#text')
            continue;
          if (slotPage.getAttribute("page") === page){
            slotPage.classList.add("page-selected");
          }
          else
            slotPage.classList.remove("page-selected");
        }
      }
    }
    customElements.define(AppPages.is, AppPages);
  </script>
</dom-module>