<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="app-router.html">
<link rel="import" href="app-state.html">
<link rel="import" href="app-pages.html">

<dom-module id="app-shell">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <app-state state="{{state}}"></app-state>
    <app-router default-url="home"></app-router>

    <a href="/home">home</a>
    <app-pages page="[[state.session.route.segments.0]]">
      <home-page page="home"
                 user="[[state.persistent.user]]"
                 projects="[[state.persistent.projects]]">
      </home-page>
      <editor-page page="editor"
                   projects="[[state.persistent.projects]]"
                   project-id="[[state.session.route.segments.1]]"
                   version="[[state.session.route.segments.2]]">
      </editor-page>
      <notfound-page page="notfound"></notfound-page>
    </app-pages>

  </template>
  <script>
    class AppShell extends IntertextMixin(Polymer.Element) {
      static get is() {
        return 'app-shell';
      }

      static get properties() {
        return {
          state: Object
        }
      }
    }
    customElements.define(AppShell.is, AppShell);
  </script>
</dom-module>