<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-firestore.js"></script>
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="app-pages.html">
<link rel="import" href="app-dialog.html">
<link rel="import" href="home-page.html">
<link rel="import" href="editor-page.html">
<script src="notfound-page.js"></script>

<dom-module id="app-shell">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <app-pages page="[[state.session.route.segments.0]]" fallback="notfound">
      <home-page page="home"
                 user="[[state.persistent.user]]"
                 user-data="[[state._userObject]]">
      </home-page>
      <editor-page page="editor"
                   owner="[[state.session.route.segments.1]]"
                   project="[[state.session.route.segments.2]]"
                   version="[[state._actualVersion]]"
                   edited-version="[[state._editActualVersion]]"
                   versions="[[state._fullProjectObject.versions]]">
      </editor-page>
      <notfound-page page="notfound"></notfound-page>
    </app-pages>

    <app-dialog id="nickDialog" >
      <form>
        <p>Enter your nickname to register</p>
        <input type="text" id="nickname" placeholder="nickname">
        <input type="submit" value="Finish">
      </form>
    </app-dialog>

  </template>
  <script>
    class AppShell extends Polymer.Element {
      static get is() {
        return 'app-shell';
      }

      static get properties() {
        return {
          state: Object,
          history: Array,
        }
      }

      connectedCallback(){
        super.connectedCallback();
        const dialog = this.shadowRoot.querySelector("#nickDialog");
        dialog.addEventListener("dialog-canceled", this._signOut.bind(this));
        dialog.addEventListener("submit", this._submitNickname.bind(this));
      }

      constructor() {
        super();
        const persistent = JSON.parse(localStorage.getItem('state')) || {user: null};
        const initialState = {
          session: {
            subscriptions: {}
          },
          persistent: persistent
        };
        this.state = new ITObservableState(initialState);

        //router
        this.state.bindReduce("popstate", RouterReducer._changeRoute, true);

        //auth
        this.state.bindReduce('controller-auth-changed', UserReducers._authChanged, true);
        this.state.bindReduce('controller-sign-in', UserReducers._signIn, true);
        this.state.bindReduce('controller-sign-out', UserReducers._signOut, true);
        this.state.bindReduce('controller-user-nickname', UserReducers._userNickname, false);
        this.state.bindReduce('controller-new-user-data', UserReducers._newUserData, false);
        this.state.bindCompute("_userObject", UserReducers._makeUserObject, ["persistent.user.nickname", "persistent.users"]);
        this.state.bindObserve(UserReducers._userChanged, ["session.auth"]);

        this.state.bindReduce('controller-add-project', AppReducers._addProject, false);
        this.state.bindReduce('controller-remove-project', AppReducers._removeProject, false);
        this.state.bindReduce('controller-add-file', AppReducers._addFile, false);
        this.state.bindReduce('controller-remove-file', AppReducers._removeFile, false);
        this.state.bindReduce('controller-file-edited', AppReducers._fileEdited, false);
        //db
        this.state.bindReduce('controller-new-projects', AppReducers._newProjects, false);
        this.state.bindReduce('controller-new-versions', AppReducers._newVersions, false);
        this.state.bindReduce('controller-new-files', AppReducers._newFiles, false);
        this.state.bindReduce('controller-new-version-subscription', AppReducers._newVersionSubscription, false);
        this.state.bindReduce('controller-new-projects-subscription', AppReducers._newProjectsSubscription, false);

        this.state.bindCompute("_fullProjectObject", AppReducers._makeProjectObject, ["session.route.segments.1", "session.route.segments.2", "persistent.users"]);
        this.state.bindCompute("_actualVersionNumber", AppReducers._makeActualVersionNumber, ["session.route.segments.3", "_fullProjectObject"]);
        this.state.bindCompute("_actualVersion", AppReducers._makeActualVersion, ["_actualVersionNumber", "_fullProjectObject"]);
        this.state.bindCompute("_editProjectObject", AppReducers._makeProjectObject, ["session.route.segments.1", "session.route.segments.2", "session.edits"]);
        this.state.bindCompute("_editActualVersion", AppReducers._makeActualVersion, ["_actualVersionNumber", "_editProjectObject"]);
//        this.state.bindCompute("_workingCopyVersion", AppReducers._makeWorkingCopy, ["_editProjectObject", "_actualVersion"]);
//        this.state.bindCompute("_projectObjectWithWorkingCopy", AppReducers._mergedProjectObject, ["_fullProjectObject", "_editProjectObject"]);

        this.state.bindObserve(AppReducers._addPersistentToLocalStorage, ["persistent"]);
        this.state.bindObserve(AppReducers._observeMissingFilesForVersion, ["_actualVersion", "session.route.segments.1", "session.route.segments.2", "_actualVersionNumber"]);
        this.state.bindObserve(AppReducers._updateVersionsListener, ["session.route.segments.1", "session.route.segments.2"]);
        this.state.bindObserve(AppReducers._updateProjectsListener, ["persistent.user.nickname"]);
        this.state.bindObserve(AppReducers._projectsEdited, ["session.edits", "persistent.user.nickname"]);
//        this.state.bindObserve(AppReducers._editsChanged, ["session.edits"]);

        AppShell.initFirebase();

        window.addEventListener('ui-nickname-dialog', (e) => this.shadowRoot.querySelector("#nickDialog").open());

        window.addEventListener("state-changed", e => this.set("state", e.detail));
        window.addEventListener("state-history-changed", e => this.set("history", e.detail));

        window.addEventListener('controller-select-project', this._selectProject);
        window.addEventListener('controller-select-version', this._selectVersion);
        window.addEventListener('state-changed-debug', (e) => console.log(e.type));

        //initialize the state with route data.
        window.dispatchEvent(new Event("popstate"));
      }

      static initFirebase() {
        firebase.initializeApp({
          apiKey: "AIzaSyA2Bv86HdUKVodeuGON0vC7nPFikIlfzwQ",
          authDomain: "two-js-no.firebaseapp.com",
          databaseURL: "https://two-js-no.firebaseio.com",
          projectId: "two-js-no",
          storageBucket: "two-js-no.appspot.com",
          messagingSenderId: "1032974918154"
        });
        firebase.auth().onAuthStateChanged(user =>
          window.dispatchEvent(new CustomEvent('controller-auth-changed', {
            composed: true,
            bubbles: true,
            detail: user
          }))
        );
      }

      _selectProject(e) {
        Tools.navigate(`/editor/${e.detail.owner}/${e.detail.project}`);
      }

      _selectVersion(e) {
        Tools.navigate(`/editor/${e.detail.owner}/${e.detail.project}/${e.detail.version}`);
      }

      _submitNickname(e) {
        e.preventDefault();
        this.shadowRoot.querySelector("#nickDialog").close();
        Tools.emit('controller-user-nickname', this.shadowRoot.querySelector("#nickname").value);
        this.shadowRoot.querySelector("#nickname").value = '';
      }

      _signOut(e) {
        Tools.emit('controller-sign-out');
      }
    }

    customElements.define(AppShell.is, AppShell);
  </script>
</dom-module>