<link rel="import" href="../libs/codemirror.html">
<link rel="import" href="../libs/material.html">
<script src="../bower_components/codemirror/lib/codemirror.js"></script>
<script src="../bower_components/codemirror/mode/css/css.js"></script>
<script src="../bower_components/codemirror/mode/xml/xml.js"></script>
<script src="../bower_components/codemirror/mode/javascript/javascript.js"></script>

<dom-module id="code-editor">
  <template>
    <style include="codemirror material">
      :host {
        display: inline-flex;
        flex-direction: column;
        box-sizing: border-box;
      }
      #title {
        position: relative;
        padding: 4px;
        text-align: center;
        background: black;
        color: lightgray;
      }
      #hide {
        position: absolute;
        font-weight: bold;
        font-family: Arial;
        color: red;
        right: 6px;
        cursor: pointer;
      }
    </style>

    <div id="title">
      [[name]]
      <span id="hide" on-click="_removeFile">X</span>
    </div>

  </template>
  <script>
    class CodeEditor extends IntertextMixin(Polymer.Element) {
      static get is() {
        return 'code-editor';
      }

      static get properties() {
        return {
          name: {
            type: String
          },
          mode: {
            type: String
          },
          value: String,
          theme: {
            type: String,
            value: 'material'
          },
          editor: Object,
          MODES: {
            type: Object,
            readOnly: true,
            value: () => ({
              css: 'css',
              html: 'text/html',
              js: 'javascript',
              json: 'javascript'
            })
          }
        }
      }

      static get observers() {
        return [
          '_updateEditor(value)'
        ]
      }

      connectedCallback() {
        super.connectedCallback();
        this.editor = CodeMirror(this.shadowRoot, {
          value: this.value,
          mode: this.MODES[this.mode],
          theme: this.theme,
          tabSize: 2,
          lineNumbers: true,
          lineWrapping: true
        });
        this.editor.on('change', (e) => {
          this.$emit('controller-file-edited', {name: this.name, value: e.getValue()});
        });
        window.addEventListener('resize', (e) => {
          this.$throttle(() => this._refreshEditor(), 1000/30);
        })
      }

      _refreshEditor() {
        this.editor.refresh()
      }

      _updateEditor() {
        if (this.editor && this.value !== this.editor.getValue())
          console.log("we have a different text in editor and state!!");
      }

      _removeFile() {
        this.$emit('controller-remove-file', this.name)
      }
    }

    customElements.define(CodeEditor.is, CodeEditor);
  </script>
</dom-module>