<link rel="import" href="../libs/codemirror.html">
<link rel="import" href="../libs/material.html">
<script src="../bower_components/codemirror/lib/codemirror.js"></script>
<script src="../bower_components/codemirror/mode/css/css.js"></script>
<script src="../bower_components/codemirror/mode/xml/xml.js"></script>
<script src="../bower_components/codemirror/mode/javascript/javascript.js"></script>

<dom-module id="code-editor">
  <template>
    <style include="codemirror material">
      :host {
        display: inline-block;
        width: 25%;
        box-sizing: border-box;
        border: 1px grey solid;
      }
      .CodeMirror {
        height: 100%;
      }
    </style>
  </template>
  <script>
    class CodeEditor extends Polymer.Element {
      static get is() {
        return 'code-editor';
      }

      static get properties() {
        return {
          mode: {
            type: String,
            reflectToAttribute: true
          },
          value: String,
          theme: {
            type: String,
            value: 'material'
          },
          editor: Object,
          MODES: {
            type: Object,
            readOnly: true,
            value: () => ({
              css: 'css',
              html: 'text/html',
              js: 'javascript',
              json: 'javascript'
            })
          }
        }
      }

      static get observers() {
        return [
          '_updateEditor(value)'
        ]
      }

      connectedCallback() {
        super.connectedCallback();
        this.editor = CodeMirror(this.shadowRoot, {
          value: this.value,
          mode: this.MODES[this.mode],
          theme: this.theme,
          tabSize: 2,
          lineNumbers: true,
          lineWrapping: true
        });
      }

      _updateEditor() {
        if (this.editor)
          this.editor.setValue(this.value)
      }
    }
    customElements.define(CodeEditor.is, CodeEditor);
  </script>
</dom-module>