<dom-module id="code-preview">
  <template>
    <style>
      :host {
        display: none;
      }
    </style>

  </template>
  <script>
    class CodePreview extends Polymer.Element {
      static get is() {
        return 'code-preview';
      }

      static get properties() {
        return {
          project: {
            type: Object,
            observer: "_updatePreviewCache"
          }
        }
      }

      async _updatePreviewCache(project) {
        if (!project || !project.files || !project.owner || !project.project)
          return;
        let path = "/" + project.owner + "/" + project.project + "/";
        let cache = await caches.open("preview");
        for (let filename in project.files) {
          let file = project.files[filename];
          let filetype = CodePreview.getType(filename);
          let myResponse = CodePreview._makeCacheableResponse(file.value, filetype);
          cache.put(path + filename, myResponse);
          if (filetype === "text/html"){
            let autoUpdater = `<script>window.addEventListener('storage',function(e) { if(e.key === '${path}') {window.location.reload();} });</scr` + `ipt>`;
            let reloadResponse = CodePreview._makeCacheableResponse(file.value + autoUpdater, filetype);
            cache.put(path + filename + "?autoload", reloadResponse);
          }
        }
        localStorage.setItem(path, new Date().getTime());
      }

      static _makeCacheableResponse(content, filetype) {
        let myBlob = new Blob([content], {type: filetype});
        let init = {"status": 200, "statusText": "SuperSmashingGreat!"};
        return new Response(myBlob, init);
      }

      static getType(filename) {
        let ext = filename.split(".").pop();
        let types = {
          html: 'text/html',
          css: 'text/css',
          js: 'application/javascript',
          json: 'application/json'
        };
        return types[ext];
      }

      openPreview(entry, autoload) {
        let path = "/preview/" + this.project.owner + "/" + this.project.project + "/" + entry + (autoload ? "?autoload": "");
        window.open(path, 'Preview', "noopener,menubar=yes,location=yes,resizable=yes,scrollbars=yes,status=yes");
      }
    }

    customElements.define(CodePreview.is, CodePreview);
  </script>
</dom-module>