<dom-module id="code-preview">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  </template>
  <script>
    class CodePreview extends Polymer.Element {
      static get is() {
        return 'code-preview';
      }

      static get properties() {
        return {
          files: {
            type: Object,
            value: () => ({})
          },
          entry: {
            type: String,
            value: "index.html"
          },
          preview: {
            type: String,
            computed: "_makePreview(entry, files, pathSniffer)",
            observer: "_newPreviewMade"
          },
          path: {
            type: String
          },
          pathSniffer: {
            type: String,
            computed: "_makePathSniffer(path)"     //this is the link to the autoupdate blob file
          }
        }
      }

      open() {
        window.open(this.preview, 'Preview', "noopener,menubar=yes,location=yes,resizable=yes,scrollbars=yes,status=yes");  //todo open in new tab, in background / no focus
      }

      _newPreviewMade() {
        localStorage.setItem(this.path, this.preview);
      }

      _makePreview(entry, files, pathSniffer) {
        if (!entry || !files || !pathSniffer)
          return null;
        let index = files[entry].value;
        let indexDoc = CodePreview.parseHTML(index);
        const deps = CodePreview._findDeps(indexDoc, entry, files);
        indexDoc = CodePreview._computeLinks(indexDoc, deps);
        let s = indexDoc.createElement("script");
        s.src = pathSniffer;
        indexDoc.head.append(s);
        index = indexDoc.documentElement.innerHTML;
        return CodePreview.makeURL(index, 'text/html');
      }

      _makePathSniffer(path) {
        let script =
          `window.addEventListener('storage',function(e) {
  if (e.key !== '${path}')
    return;
  window.history.pushState({}, null, e.newValue);
  window.location.reload();
});
//# sourceURL=__2js__previewAutoUpdater.js`;
        return CodePreview.makeURL(script, CodePreview.getType("js"));
      }

      static _findDeps(doc, entry, files) {
        let res = {};
        for (let key in files) {
          if (key === entry)
            continue;
          let file = files[key];
          const ext = file.name.split('.').pop();
          let query = CodePreview.makeQuery(file.name, ext);
          let node = doc.querySelector(query);
          res[key] = {
            name: key,
            type: CodePreview.getType(ext),
            node: node,
            value: files[key].value
          }
        }
        return res;
      }

      static _computeLinks(doc, deps) {
        for (let key in deps) {
          let dep = deps[key];
          if (!dep.node)
            continue;
          let value = CodePreview.addSourceURL(dep.value, dep.name, dep.type);
          let url = CodePreview.makeURL(value, dep.type);
          let attr = dep.type.startsWith('text/') ? 'href' : 'src';
          dep.node.setAttribute(attr, url);
        }
        return doc;
      }

      static parseHTML(str) {
        const parser = new DOMParser();
        return parser.parseFromString(str, 'text/html');
      }

      static makeQuery(name, ext) {
        if (ext === 'html' || ext === 'css')
          return `link[href="${name}"]`;
        else if (ext === 'js' || ext === 'json')
          return `script[src="${name}"]`;
      }

      static addSourceURL(str, name, type) {
        switch (type) {
          case 'text/css':
            return str + ` /*# sourceURL=${name} */`;
          case 'application/javascript':
            return str + ` //# sourceURL=${name}`;
          default:
            return str;
        }
      }

      static makeURL(str, type) {
        const blob = new Blob([str], {
          type: type
        });
        return URL.createObjectURL(blob);
      }

      static getType(ext){
        let types = {
          html: 'text/html',
          css: 'text/css',
          js: 'application/javascript',
          json: 'application/json'
        };
        return types[ext];
      }
    }

    customElements.define(CodePreview.is, CodePreview);
  </script>
</dom-module>