<link rel="import" href="code-editor.html">

<dom-module id="editor-page">
  <template>
    <style>
      :host {
        display: block;
      }
      #header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      #editors {
        display: flex;
        width: 100vw;
        height: 500px;
        position: relative;
      }
    </style>

    <div id="header">
      <b>[[projectId]]</b>
      <div>
        Version: <select on-change="_changeVersion">
        <template is="dom-repeat" items="[[versions]]">
          <option value="[[item]]" selected="[[_isSelectedVersion(item, currentProject.version)]]">[[item]]</option>
        </template>
      </select>
      </div>
    </div>
    <div id="editors">
      <template is="dom-repeat" items="[[files]]">
        <code-editor mode="[[_getExt(item.name)]]" value="[[item.value]]"></code-editor>
      </template>
    </div>
    <input type="text" id="newFileName" style="width: 120px;" placeholder="file">
    <button on-tap="_addFile">+</button>

  </template>
  <script>
    class EditorPage extends Polymer.GestureEventListeners(IntertextMixin(Polymer.Element)) {
      static get is() {
        return 'editor-page';
      }

      static get properties() {
        return {
          currentProject: Object,
          versions: {
            type: Array,
            value: () => [],
          },
          files: {
            type: Array,
            value: () => [],
          }
        }
      }

      _isSelectedVersion(item, version) {
        return item === version;
      }

      _changeVersion(e) {
        if (e.target.value) {
          const versionElect = {
            owner: this.currentProject.owner,
            project: this.currentProject.project,
            version: e.target.value
          };
          this.$emit('controller-select-version', versionElect);
        }
      }

      _addFile(e) {
        const name = this.$.newFileName.value;
        if (!EditorPage.validateFileName(name))
          return alert("wrong filename!! " + name);
        this.$emit('controller-add-file', {filename: name, id: this.projectId, version: this.version});
        this.$.newFileName.value = '';
      }

      static validateFileName(name) {
        if (!name)
          return false;
        const fileType = name.split(".").pop();
        return ["html", "css", "js", "json"].indexOf(fileType) !== -1;
      }

      _getExt(name) {
        if (name)
          return name.split('.').pop();
      }
    }

    customElements.define(EditorPage.is, EditorPage);
  </script>
</dom-module>