<link rel="import" href="code-editor.html">

<dom-module id="editor-page">
  <template>
    <style>
      :host {
        display: flex;
        width: 100vw;
        height: 50vh;
        position: relative;
      }
    </style>

    <template is="dom-repeat" items="[[files]]">
      <code-editor mode="[[_getExt(item.name)]]">[[item.value]]</code-editor>
    </template>

  </template>
  <script>
    class EditorPage extends IntertextMixin(Polymer.Element) {
      static get is() {
        return 'editor-page';
      }

      static get properties() {
        return {
          project: Object,
          version: Number,
          files: {
            type: Array,
            computed: '_getFiles(project, version)'
          }
//           files: {
//             type: Array,
//             value: () => [
//               {
//                 name: 'html0.html',
//                 value: `<head>
//   <link rel="stylesheet" href="prGRgd.css">
//   <script src="prGRgd.js"><\/script>
// </head>
// <body>
//   <h1>BaDaS</h1>
// </body>`
//               },
//               {
//                 name: 'css0.css',
//                 value: `* {
//   font-family: Roboto;
// }`
//               },
//               {
//                 name: 'js0.js',
//                 value: `const $ = (query) => {
//   const res = document.querySelectorAll(query);
//   if (res.length === 0)
//     return null;
//   else if (res.length === 1)
//     return res[0];
//   else
//     return res;
// }`
//               },
//               {
//                 name: 'json0.json',
//                 value: `{
//   "css": "css",
//   "html": "text"/html,
//   "js": "javascript",
//   "json": "javascript"
// }`
//               }
//             ]
//           }
        }
      }

      _getFiles(project, version) {
        version = version || 0;
        if (project && project.versions && project.versions[version] && project.versions[version].files) {
          const files = project.versions[version].files;
          const filesArr = [];
          for (let key in files) {
            filesArr.push(files[key]);
          }
          return filesArr;
        }
      }

      _getExt(name) {
        return name.split('.').pop();
      }
    }
    customElements.define(EditorPage.is, EditorPage);
  </script>
</dom-module>