<dom-module id="home-page">
  <template>
    <style>
      :host {
        display: block;
      }
      li span {
        cursor: pointer;
        text-decoration: underline;
        color: blue;
      }
    </style>

    <div hidden="[[_userIn]]">
      <p>
        <button on-tap="_signIn">Sign In</button>
      </p>
    </div>
    <div hidden="[[!_userIn]]">
      <p>[[user.name]]</p>
      <button on-tap="_signOut">Sign Out</button>
    </div>
    <p>Projects:</p>
    <ul>
      <template is="dom-repeat" items="[[_toArray(projects)]]">
        <li>
          <span on-tap="_selectProject">[[item]]</span>
          <button on-tap="_removeProject">X</button>
        </li>
      </template>
      <li>
        <input type="text" id="newProjectName" style="width: 120px;" placeholder="project">
        <button on-tap="_addProject">+</button>
      </li>
    </ul>

  </template>
  <script>
    class HomePage extends Polymer.GestureEventListeners(IntertextMixin(Polymer.Element)) {
      static get is() {
        return 'home-page';
      }

      static get properties() {
        return {
          user: {
            type: Object,
            value: null
          },
          projects: Object,
          _userIn: Boolean
        }
      }

      static get observers() {
        return [
          '_checkUser(user)'
        ]
      }
      
      connectedCallback() {
        super.connectedCallback();
      }

      _checkUser(user) {
        this._userIn = !!user;
      }

      _signIn() {
        this.$emit('controller-sign-in');
      }

      _signOut() {
        this.$emit('controller-sign-out');
      }

      _addProject() {
        const name = this.$.newProjectName.value;
        if (name) {
          this.$emit('controller-add-project', name);
          this.$.newProjectName.value = '';
        }
      }

      _removeProject(e) {
        this.$emit('controller-remove-project', e.target.previousElementSibling.textContent);
      }

      _selectProject(e) {
        this.$emit('controller-select-project', e.target.textContent);
      }

      _toArray(obj) {
        return Object.keys(obj);
      }
    }
    customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>