<dom-module id="slide-bar">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
        z-index: 10;
      }
      :host #container {
        position: absolute;
        transition: 0.4s;
        transform: translateY(-100%);
      }
      :host([opened]) #container {
        transform: translateY(0);
      }
      #trigger {
        display: block;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100vw;
        height: 6px;
      }
    </style>

    <div id="trigger"></div>
    <div id="container">
      <slot></slot>
    </div>

  </template>
  <script>
    class SlideBar extends Polymer.Element {
      static get is() {
        return 'slide-bar';
      }

      static get properties() {
        return {
          opened: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        }
      }

      connectedCallback(){
        super.connectedCallback();
        this.shadowRoot.querySelector("#trigger").addEventListener("mouseenter", this._slideIn.bind(this));
        this.shadowRoot.querySelector("#container").addEventListener("mouseleave", this._slideOut.bind(this));
      }

      _slideIn() {
        this.opened = true;
      }

      _slideOut() {
        this.opened = false;
      }
    }
    customElements.define(SlideBar.is, SlideBar);
  </script>
</dom-module>